<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="script">


  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

  <!--  DataTable  -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

  <!-- Page level custom scripts -->
  <!--    <script th:src="@{/js/demo/chart-area-demo.js}"></script>-->
  <!--    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>-->

</th:block>
</html>