<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
      <div class="sidebar-brand-icon">
        <img src="img/logo.png" alt="Logo" style="width: 30px">
      </div>
      <div class="sidebar-brand-text mx-3">Zipgo Admin</div>
    </a>

      <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="/admin">
        <i class="fas fa-fw fa-table"></i>
        <span>데이터 생성</span>
      </a>
      <a class="nav-link" href="/admin/view">
        <i class="fas fa-fw fa-table"></i>
        <span>데이터 조회</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

  </ul>
  <!-- End of Sidebar -->

</th:block>

</html>
