<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<th:block layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table {
                font-family: Arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            table, th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2; /* 변경할 배경색 지정 */
            }
        </style>
        <!-- 내부 js -->
        <script>
            window.onload = function () {
                console.log("");
                console.log("[window onload] : [start]");
                console.log("");
            };
        </script>

    </head>

    <body>
    <table>

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>식품ID</th>
            <th>식품이름</th>
            <th>브랜드</th>
            <th>유럽 영양 기준</th>
            <th>미국 영양 기준</th>
            <th>이미지 URL</th>
            <th>생성일자</th>
            <th>기능성</th>
            <th>주원료</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="list: ${petFoods}">
            <td>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-block open-update-modal" data-toggle="modal"
                            data-target="#updateModal" data-pet-food-id="1">수정
                    </button>
                </div>
            </td>

            <td><span th:text="삭제"></span></td>
            <td><span th:text=" ${list.id}"></span></td>
            <td><span th:text=" ${list.getName()}"></span></td>
            <td><span th:text=" ${list.getBrand().getName()}"></span></td>
            <td><span th:text=" ${list.getHasStandard().getEurope()}"></span></td>
            <td><span th:text=" ${list.getHasStandard().getUnitedStates()}"></span></td>
            <td><span th:text=" ${list.getImageUrl()}"></span></td>
            <td><span th:text=" ${list.getCreatedAt()}"></span></td>
            <td>
                <ul>
                    <li th:each="funtionality: ${list.getPetFoodFunctionalities()}">
                        <span th:text="${funtionality.getFunctionality().getName()}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="primaryIngredient: ${list.getPetFoodPrimaryIngredients()}">
                        <span th:text="${primaryIngredient.getPrimaryIngredient().getName()}"></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">식품 수정</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="dataForm">
                        <div class="form-group">
                            <label for="pet_food_name">식품이름</label>
                            <input type="text" class="form-control" id="pet_food_name" name="pet_food_name">
                        </div>
                        <div class="form-group">
                            <label for="brand_name">브랜드</label>
                            <input type="text" class="form-control" id="brand_name" name="brand_name">
                        </div>
                        <div class="form-group">
                            <label for="eu_standard">유럽영양기준</label>
                            <input type="text" class="form-control" id="eu_standard" name="eu_standard">
                        </div>
                        <div class="form-group">
                            <label for="us_standard">미국영양기준</label>
                            <input type="text" class="form-control" id="us_standard" name="us_standard">
                        </div>
                        <div class="form-group">
                            <label for="image_url">이미지 URL</label>
                            <input type="text" class="form-control" id="image_url" name="image_url">
                        </div>
                        <div class="form-group">
                            <label for="functionality">기능성</label>
                            <input type="text" class="form-control" id="functionality" name="functionality">
                        </div>
                        <div class="form-group">
                            <label for="primary_ingredient">기능성</label>
                            <input type="text" class="form-control" id="primary_ingredient" name="primary_ingredient">
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="hasResearchCenter"
                                   name="hasResearchCenter">
                            <label class="form-check-label" for="hasResearchCenter">연구 센터 보유</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="hasResidentVet" name="hasResidentVet">
                            <label class="form-check-label" for="hasResidentVet">주치 수의사 보유</label>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary" id="sendBrand">생성</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    </body>

</th:block>
</html>

<!-- 내부 js -->
<script>
    $(document).on("click", ".open-update-modal", function () {
        let petFoodId = $(this).data('pet-food-id');

        $.ajax({
            url: `/admin/pet-foods/${petFoodId}`,
            type: "GET",
            success: function (response) {
                $("#brand_name").val(response.brandName);
                $("#pet_food_name").val(response.foodName);
                // $("#eu_standard").val(response.eu_standard); // 유럽 영양 기준
                // $("#us_standard").val(response.us_standard); // 미국 영양 기준
                $("#image_url").val(response.imageUrl);

                // 기능성 데이터 처리
                // let functionalityList = response.body.functionality.map(item => item.functionality.name);
                // $("#functionality").val(functionalityList.join(', '));
                //
                // // 주원료 데이터 처리
                // let primaryIngredientList = response.body.primary_ingredient.map(item => item.primaryIngredient.name);
                // $("#primary_ingredient").val(primaryIngredientList.join(', '));

                // 체크박스 처리
                // $("#hasResearchCenter").prop('checked', response.body.brand.hasResearchCenter);
                // $("#hasResidentVet").prop('checked', response.body.brand.hasResidentVet);
            },
            error: function () {
                alert('데이터를 불러올 수 없습니다.');
            }
        });
    });
</script>

