<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="fragments/head :: head"></th:block>

<body id="page-top">
<div id="wrapper">
  <!-- 사이드바-->
  <th:block th:replace="fragments/sidebar :: sidebar"></th:block>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- 상단바-->
      <th:block th:replace="fragments/topbar :: topbar"></th:block>
      <!-- 본문-->
      <th:block layout:fragment="content"></th:block>
    </div>
    <!-- 공통 하단-->
    <th:block th:replace="fragments/footer :: footer"></th:block>
  </div>
</div>

<!-- 공통 스크립트-->
<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>